* {
    box-sizing: border-box;
    text-decoration: none;
}
[class*="col-"] {
    width: 100%;
    float: left;
    padding: 0.5rem;
}
body{
    background-color: rgba(211, 211, 211, 0.39);
}
@media only screen and (min-width:600px) {
    a.item-menu{display:block;
        padding-bottom: 1rem 0;    
    }
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media only screen and (min-width:768px) {
    a.item-menu{display: block;
        padding-bottom: 1rem 0;
    }
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
.row::after {
    content: "";
    clear:both;
    display: table;
}
.pie, .centro, a.item-menu{
    text-align: center;
    font-family: 'Crimson Text', serif;
}
.centro{
    margin: 1rem;
    padding: 2rem;
}
.pie{
    padding-top: 2rem;
}
.titulo{
    font-size: 2.5rem;
    text-align: right;
    font-family: 'Parisienne', cursive;
    background-image: linear-gradient(150deg, rgba(88, 182, 135, 1), rgba(139, 196, 167, 0.158) 75%, rgba(108, 172, 140, 0.507)100%);
}
h1, h2{
    font-family: 'Roboto Slab', serif;
}
h1{
    position: relative;
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
a.item-menu{
    text-decoration: none;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    background-color: rgba(88, 182, 135, 0.295);
}
a.item-menu:hover{
    animation: seleccion forwards 1s ease-out;
    background-color: rgb(88, 182, 135);
}

@keyframes seleccion {
    from {transform:scale(1);}
    to {transform:scale(1.1);}
}
.resaltado{
    background-color: rgba(55, 189, 100, 0.171);
    padding: 2rem;
    margin:2rem;
}
/*Estilos para el formulario*/
textarea {
    width:  100%;
    height: 90%;
    resize: none;
}
fieldset{
    text-align: center;
}
legend{
    text-align: left;
}
.cancel{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    color:red;
}
.enviar{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    color:limegreen;
}
/*Estilos para tabla donde comprar*/
td{
    padding: 1rem 0rem;
}
iframe{
    width:200;
    height:100;
}
@media only screen and (min-width:600px){
    td{
        padding: 2rem 5rem;
    }
    iframe{
        width: 400px;
        height: 300px;
    }
}
/*Estilos para galeria*/
.zoom {
    transition: transform .2s; 
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }

.zoom:hover {
    transform: scale(1.5);
}
/*Estilos Footer*/
.soc-media{
    text-align: center;
    color:royalblue;
    font-size: 2rem;

}
/*Estilos para flexbox*/
.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: stretch;
    background-color: rgba(18, 82, 37, 0.219);
}      
input {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem;
}
.flex-campos{
    min-height: auto;
    flex-grow: 1;
}
.botones>input{
    margin-top: auto;
    width: fit-content;
}
input[type="checkbox"]{
    width: fit-content;
}
.break{
    margin-top: 1rem;
    flex-basis: 100%;
}